{% extends 'marketplace/base.html' %}
{% load static %}

{% block content %}
<h1 class="mb-4">{{ miner.name }}</h1>
<div class="row">
    <div class="col-md-6">
        <img src="{% if miner.image %}{{ miner.image.url }}{% else %}{% static 'images/default.jpg' %}{% endif %}" class="img-fluid" alt="{{ miner.name }}">
    </div>
    <div class="col-md-6">
        <p><strong>Description:</strong> {{ miner.description }}</p>
        <p><strong>Price:</strong> ${{ miner.price }}</p>
        <p><strong>Hash Rate:</strong> {{ miner.hash_rate }}</p>
        <p><strong>Power Consumption:</strong> {{ miner.power_consumption }}</p>
        <a href="https://wa.link/4dxv0z" class="btn btn-primary">Contact Us to Buy</a>
    </div>
</div>
{% endblock %}
